    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-9 my-auto">
            <div class="header-content">
              <h1 class="mb-5">The Julia Programming Language</h1>
              <h2 class="mb-5 tagline">Julia is a highly productive language that runs fast</h2>
              <a href="#features" class="btn btn-outline btn-xl js-scroll-trigger">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
</header>
